<app-title [title]="employeesTitle" [icon]="iconClass"></app-title>
<div class="input-group rounded container-fluid mt-3 justify-content-center">
  <form class="d-inline-flex p-2">
    <input
      (input)="searchInEmployees($event)"
      type="search"
      class="form-control rounded"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="search-addon"
      class="form-control me-3"
    />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </form>
</div>

<table class="table table-sm table-bordered w-75 text-left p-3 container mt-3">
  <thead>
    <tr>
      <th class="p-3" scope="col">NO.</th>
      <th class="p-3" scope="col">Name</th>
      <th class="p-3" scope="col">Email</th>
      <th class="p-3" scope="col">Birthday</th>
      <th class="p-3" scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td class="p-3">{{ employees.indexOf(employee) + 1 }}</td>
      <td class="p-3">{{ employee.name }}</td>
      <td class="p-3">{{ employee.email }}</td>
      <td class="p-3">{{ employee.birthday }}</td>
      <td class="p-3">{{ employee.phone }}</td>
    </tr>
  </tbody>
</table>
